<div class="form-group col-md-12">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Data Source
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                #foreach($dataSource in $dataSources)
                    <li><a href="#" class="datasource" data-datasource="${dataSource.id}">${dataSource.name}</a></li>
                #end
            </ul>
        </div>
        <input type="text" id="datasourceText" disabled class="form-control">
        <input type="hidden" id="datasource">
    </div>
</div>